<%- include('../partials/head.ejs') %>
  <div class="container-fluid" >


    <% if(projects.length>0){ %> 
    <div class="swiper-container">
      <style>
        .swiper-wrapper img{
          max-height: 400px;
        }
      </style>
      <div class="swiper-wrapper">
        
        <% for(let p of projects){ %> 
          <div class="swiper-slide">
            <a href="/project/<%= p.id %> ">
              <img src="/upload/projects/<%= p.thumbnail %>">
            </a>
           
          </div>
        <% }%> 
        
      
      </div>
      <div class="swiper-button-prev myArrow"></div>
      <div class="swiper-button-next myArrow"></div>
  </div>
  <% } %> 

  <div class="py-4">
    <div>
      <center>
        <h3 class="text-danger">Hotline for any Queries </h3>
      </center>
      <center>
        <h4> <i class="fa-solid text-danger fa-mobile"></i> 01722726897</h4>
      </center>

    </div>
  </div>
  <div class="container-fluid  py-4">
    <div class="container">
      <center>
        <h1 class="text-dark mb-2">FEATURED PROJECTS</h1>
      </center>
      <div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">

          <% if(projects.length == 0){ %> 
            <h4 class="text-center">No projects</h4>
          <% }else{ %> 
            <% for(let p of projects){ %> 
                <div class="col-lg-4 col-md-6">
                  <a href="/project/<%= p.id %>" class="text-dark">
                  <div class="<%= p.status ? 'ribbon' : '' %>  card h-100">
                    <% if(p.status){ %>
                      <% if(p.status == 'Completed') {%>  
                        <span class="ribbon3 ribonred"><%= p.status %> </span>
                      <% }else if(p.status == 'Ongoing'){%>  
                        <span class="ribbon3"><%= p.status %> </span>
                      <% }else if(p.status == 'Upcoming'){%>  
                        <span class="ribbon3 ribonupcoming"><%= p.status %> </span>
                      <% }%>  
                    <% } %> 
                    <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                      <img src="/upload/projects/<%= p.thumbnail %>" style="max-height: 400px;max-width:auto" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                      <h5><%= p.title %> </h5>
                      <p><%= p.address %></p>
                    </div>
                  </div>
                </a>
                </div>
            <% } %> 
          <% } %> 
          
        </div>
      </div>
    </div>
  </div>

  <div class="container py-5">
    <div class="counter_wrapper" id="counter_wrapper">
      <div class="counter_container">
        <i class="fas fa-utensils"></i>
        <span class="num" data-val="400">000</span>
        <span class="text">Project Delivered</span>
      </div>
      <div class="counter_container">
        <i class="fas fa-smile-beam"></i>
        <span class="num" data-val="340">000</span>
        <span class="text">Happy Customers</span>
      </div>
      <div class="counter_container">
        <i class="fas fa-list"></i>
        <span class="num" data-val="225">000</span>
        <span class="text">Menu Items</span>
      </div>
      <div class="counter_container">
        <i class="fas fa-star"></i>
        <span class="num" data-val="280">000</span>
        <span class="text">Five Stars</span>
      </div>
    </div>
  </div>

  
  <div class="py-5 bg-dark">
    <h1 class="text-light text-center">WHY LANDSCAPAE?</h1>
  </div>

  
<div style="background-color: #fff;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <div class="main-timeline">
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2018</span>
              <div class="timeline-icon">
                <i class="fa fa-rocket" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Web Development</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-users" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">JavaScript</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-cog" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Mongo DB</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-apple" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Laravel</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
          <div class="timeline">
            <a href="#" class="timeline-content">
              <span class="timeline-year">2017</span>
              <div class="timeline-icon">
                <i class="fa fa-edit" aria-hidden="true"></i>
              </div>
              <div class="content">
                <h3 class="title">Creapure</h3>
                <p class="description">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>   

<%- include('./utils/contactus.ejs') %>
 
</div>
  <script src='https://unpkg.com/swiper/swiper-bundle.js'></script>
  <script>
    const inputs = document.querySelectorAll(".input");

    function focusFunc() {
      let parent = this.parentNode;
      parent.classList.add("focus");
    }

    function blurFunc() {
      let parent = this.parentNode;
      if (this.value == "") {
        parent.classList.remove("focus");
      }
    }

    inputs.forEach((input) => {
      input.addEventListener("focus", focusFunc);
      input.addEventListener("blur", blurFunc);
    });

    //counter viewport select

    function startCount(){
      let valueDisplays = document.querySelectorAll(".num");
      let interval = 800;
      valueDisplays.forEach((valueDisplay) => {
        let startValue = 0;
        let endValue = parseInt(valueDisplay.getAttribute("data-val"));
        let duration = Math.floor(interval / endValue);
        let counter = setInterval(function () {
          startValue += 1;
          valueDisplay.textContent = startValue+"+";
          if (startValue == endValue) {
            clearInterval(counter);
          }
        }, duration);
      });
    }


    let counter_wrapper = document.getElementById('counter_wrapper')
    let counted = 0
    var observer = new IntersectionObserver(function(entries) {
    if(entries[0].isIntersecting === true)
        console.log('Element is fully visible in screen');
        if(counted < 2){
          startCount()
          counted++
        }
        console.log(counted)
    }, { threshold: [1] });

    observer.observe(counter_wrapper);


    let swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      centeredSlides: true,
      slidesPerView: 'auto',
      loop: true,
      coverflowEffect: {
        rotate: 40,
        stretch: 25,
        depth: 200,
        modifier: 1,
        slideShadows: true,
      },
    autoplay:{
      delay: 1500,
      disableOnInteraction: false,
    },
       navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      
    });
  </script>

  <%- include('../partials/footer.ejs') %>
    </body>

    </html>