<%- include('../partials/head.ejs') %>
<style>
  .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }

      .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      .mySwiper2 {
        height: 80%;
        width: 100%;
      }

      .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }

      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
</style>

<div class="container-fluid" style="background: #fafafa;">
  <div class="container py-5">
    <div class="project-brife">
     <div class="row">
      <div class="col-sm-12 col-md-5 m-2">
        <div
        style="--swiper-navigation-color: rgb(0, 0, 0); --swiper-pagination-color: rgb(0, 0, 0);"
        class="swiper mySwiper2"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/upload/projects/<%= project.thumbnail %> " />
          </div>
          <% projectImages.forEach(image => { %>
            <div class="swiper-slide">
              <img src="/upload/projects/<%= image %> " />
            </div>
          <% }) %> 
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div thumbsSlider="" class="swiper mySwiper">
        <div class="swiper-wrapper">
          <% projectImages.forEach(image => { %>
            <div class="swiper-slide">
              <img src="/upload/projects/<%= image %> " />
            </div>
          <% }) %> 
        </div>
      </div>
    
      </div>
      <div class="col-sm-12 col-md-6  rounded shadow-sm" style="background-color: #fff;border-left: 7px solid #2584EE;" >
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td class="fw-bold"> <i class="fa-solid fa-building-wheat mx-2"></i> Project Name</td>
                <td class="fw-bold"><%= project.title %></td>
              </tr>
              <tr>
                <td> <i class="fa-solid fa-location-dot mx-2"></i>Address </td>
                <td class="<%= project.address ? '' : 'fst-italic' %>"><%= project.address ? project.address : 'null' %>  </td>
              </tr>
              <tr>
                <td><i class="fa-sharp fa-solid fa-check-to-slot mx-2"></i> Status </td>
                <td class="<%= project.status ? '' : 'fst-italic' %>">
                  <% if(project.status == 'Completed'){ %> 
                    <span class="bg-danger badge"><%= project.status %> </span>
                  <% }else if(project.status == 'Ongoing'){ %> 
                    <span class="bg-success badge"><%= project.status %> </span>
                  <% }else { %> 
                    <span class="bg-primary badge"><%= project.status %> </span>
                  <% } %> 
                  
                 </td>
              </tr>
              <tr>
                <td> <i class="fa-solid fa-text-width mx-2"></i>Apartment size</td>
                <td class="<%= project.apartment_size ? '' : 'fst-italic' %>"><%= project.apartment_size ? project.apartment_size : 'null' %>  </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-road mx-2"></i> Road size</td>
                <td class="<%= project.road_size ? '' : 'fst-italic' %>"><%= project.road_size ? project.road_size : 'null' %>  </td>
              </tr>
              <tr>
                <td> <i class="fa-solid fa-square-parking mx-2"></i> Parking</td>
                <td class="<%= project.parking ? '' : 'fst-italic' %>"><%= project.parking ? project.parking : 'null' %>  </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-text-width mx-2"></i></i> Land Size</td>
                <td class="<%= project.landsize ? '' : 'fst-italic' %>"><%= project.landsize ? project.landsize : 'null' %>  </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-hashtag mx-2"></i>Units</td>
                <td class="<%= project.units ? '' : 'fst-italic' %>"><%= project.units ? project.units : 'null' %>  </td>
              </tr>
              <tr>
                <td> <i class="fa-sharp fa-solid fa-building mx-2"></i> Floors</td>
                <td class="<%= project.floors ? '' : 'fst-italic' %>"><%= project.floors ? project.floors : 'null' %>  </td>
              </tr>
              <tr>
                <td><i class="fa-solid fa-clock mx-2"></i>Handover Time</td>
                <td class="<%= project.handover_time ? '' : 'fst-italic' %>"><%= project.handover_time ? project.handover_time : 'null' %>  </td>
              </tr>
            </tbody>
           
          </table>
          <div>
            <a href="/order" class="btn btn-sm btn-primary mb-1">Book Now</a>
            <% if(project.google_map){ %> 
              <a href="#googleMap" class="btn btn-sm  btn-success mb-1"><i class="fa-solid fa-arrow-up-right-from-square mx-1"></i>view on google map</a>
            <% } %> 
          </div>
         
         
         
        </div>
      </div>
     </div>
    </div>

 
    <div class="container py-4 mt-5 shadow-sm" style="background-color: #fff;">
      <%- project.description %> 
    </div>

    <div class="" style="background-color: #fafafa;" >
      <% if(project.youtube_video){ %> 
        <div class="mt-5 mb-3 py-3" style="border-left: 10px solid #2584EE;background-color:rgba(144,192,246,0.4)">
          <h6 class="text-center mb-0" style="color:#070ad1">Project Video</h6>
        </div>
        <div class="py-3" id="youtube_video">
          <style>
            .embed-youtube {
              position: relative;
              padding-bottom: 40.25%; /* - 16:9 aspect ratio (most common) */
              /* padding-bottom: 62.5%; - 16:10 aspect ratio */
              /* padding-bottom: 75%; - 4:3 aspect ratio */
              padding-top: 30px;
              height: 0;
              overflow: hidden;
          }

          .embed-youtube iframe,
          .embed-youtube object,
          .embed-youtube embed {
              border: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
          }
          </style>
            <div class="embed-youtube">
              <%- project.youtube_video  %> 
            </div>
        </div>
      <% } %> 
    </div>


    <% if(projectImages.length > 0){ %> 
      <div class="mt-5 mb-3 py-3" style="border-left: 10px solid #2584EE;background-color:rgba(144,192,246,0.4)">
        <h6 class="text-center mb-0" style="color:#070ad1">Some Snapshot of <span class="fw-bold fst-italic"><%= project.title %> ! </span> </h6>
      </div>
    <% } %> 
    <div class="row row-cols-1 row-cols-md-3 g-4 project_img">
      <% projectImages.forEach(image => { %>
        <div class="col">
          <div class="card">
            <img style="cursor: pointer;" class="img-fluid" src="/upload/projects/<%= image %> " alt="...">
          </div>
        </div>
      <% }) %> 

      </div>
  </div>

  <style>
    .popup-img{
     position: fixed;
     top:0;
     left: 0;
     background-color: rgba(0,0,0,0.8);
     height: 100%;
     width: 100%;
     z-index: 1000;
     display: none;
    }
    .popup-img img{
     position: absolute;
     top:50%;
     left: 50%;
     transform: translate(-50%,-50%);
     border: 3px solid white;
     border-radius: 5px;
     max-width: 90%;
     max-height: 90%;
     object-fit: cover;
    }
   .popup-img span{
     position: absolute;
     top:0;
     right: 10px;
     font-size: 60px;
     font-weight: bolder;
     color: #fff;
     cursor: pointer;
    }
   
    @media (max-width:768px){
     .popup-img img{
       width: 90%;
       height: 400px;
     }
    }
   </style>
   <div class="popup-img">
     <span id="cross">&times;</span>
     <img  src="/upload/projects/<%= projectImages[0] %> " alt="...">
   </div>
   
   
   <div class="container" style="background-color: #fafafa;" >
     <% if(project.google_map){ %> 
       <div class="container py-1" id="googleMap">
         <div class="mt-5 mb-3 py-3" style="border-left: 10px solid #2584EE;background-color:rgba(144,192,246,0.4)">
           <h6 class="text-center mb-0" style="color:#070ad1"><span class="fw-bold fst-italic"><%= project.title %></span>  on google map !</h6>
         </div>
         <div class="embed-youtube ">
           <%- project.google_map  %> 
         </div>
       </div>
     <% } %> 
   </div>

 <div class="container" >
  <div>
    <div class="containers">
          <img src="img/shape.png" class="square" alt="" />
          <div class="form">
            <div class="contact-info">
              <h3 class="title">Let's get in touch</h3>
              <p class="text">
                75/ 2 Ridgedale Complex, Uttar Badda, Suit 6-B,  
              </p>
    
              <div class="info">
                <div class="information">
                  <img src="img/location.png" class="icon" alt="" />
                  <p> 75/ 2 Ridgedale Complex, Uttar Badda, Suit 6-B, </p>
                </div>
                <div class="information">
                  <img src="img/email.png" class="icon" alt="" />
                  <p>lorem@ipsum.com</p>
                </div>
                <div class="information">
                  <img src="img/phone.png" class="icon" alt="" />
                  <p>01712000384,01712602241,01713031072 <br>
                    01712602242
                     01847231772,01742936950</p>
                </div>
              </div>
    
              <div class="social-media">
                <p>Connect with us :</p>
                <div class="social-icons">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-instagram"></i>
                  </a>
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </div>
              </div>
            </div>
    
            <div class="contact-form">
              <span class="circle one"></span>
              <span class="circle two"></span>
    
              <form action="/message" method="post" autocomplete="off">
                <h3 class="title">Contact us</h3>
                <div class="input-container">
                  <input type="text" name="name" class="input" id="name"  required maxlength="30"/>
                  <label for="">Full Name *</label>
                  <span>Username</span>
                </div>
                <div class="input-container">
                  <input type="email" name="email" id="email"  class="input" />
                  <label for="">Email</label>
                  <span>Email</span>
                </div>
                <div class="input-container">
                  <input type="tel" name="phone" class="input"  id="phone"  required maxlength="15"/>
                  <label for="">Phone *</label>
                  <span>Phone</span>
                </div>
                <div class="input-container textarea">
                  <textarea name="message" class="input"  id="message" required maxlength="500"></textarea>
                  <label for="">Message *</label>
                  <span>Message</span>
                </div>
                <input type="submit" value="Send" class="btnn" />
              </form>
            </div>
          </div>
    </div>
  </div>
 </div>
  
   
</div>



<script src='https://unpkg.com/swiper/swiper-bundle.js'></script>

  <script>

const inputs = document.querySelectorAll(".input");

function focusFunc() {
  let parent = this.parentNode;
  parent.classList.add("focus");
}

function blurFunc() {
  let parent = this.parentNode;
  if (this.value == "") {
    parent.classList.remove("focus");
  }
}

inputs.forEach((input) => {
  input.addEventListener("focus", focusFunc);
  input.addEventListener("blur", blurFunc);
});


    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper,
      },
    });

    document.querySelectorAll('.project_img img').forEach(img =>{
        img.onclick = () =>{
          document.querySelector('.popup-img').style.display = 'block'
          document.querySelector('.popup-img img').src = img.getAttribute('src')
        }
    })

    document.getElementById('cross').onclick = () =>{
      console.log("hio")
      document.querySelector('.popup-img').style.display = 'none'
    }
  </script> 
   <%- include("../partials/footer") %>