<%- include("./partials/header") %> 


<!-- Sidebar -->
<%- include("./partials/sidebar") %>

<div class="container">
  <div class="main-content" style="padding-left: 5%; padding-right: 5%;">
    <div class="table-responsive">
        <h3 class="text-center py-3">All Projects</h3>
        <table >
          <tr style="background-color: black; color:white">
            <th class="px-3">Id</th>
            <th>Title</th>
            <th>Thumnail</th>
            <th>Actions</th>
          </tr>

          <% projects.forEach(project => { %>
            <tr>
              <td class="px-3"><%= project.id %> </td>
              <td><a href="/project/<%= project.id %> "><%= project.title %></a></td>
              <td>
                <% if(project.thumbnail){ %>
                  <img style="width: 100px; height: 100px" src="http://localhost:3000/upload/projects/<%= project.thumbnail %>" alt="">
                <% } %> 
              </td>
              <td>
                <a href="/project/edit/<%= project.id %>" class="btn btn-sm btn-warning">Edit</a>
                <a  href="/project/delete/<%= project.id %>" onclick="return confirm('Are you sure to Delete?')" class="btn btn-sm btn-danger">Delete</a> 
              </td>
            </tr>
          <% }) %> 

        </table>
    </div>
      
  </div>
</div>

<script>
  
</script>

<%- include("./partials/footer") %>