<%- include("../../partials/header") %> 

<%- include("../../partials/sidebar") %>

<div class="container" style="padding-top: 26px;">
    <% if(orders.length == 0){ %> 
        <h4 class="text-center ">No Orders! </h4>
    <% }else{ %> 
        <div class="table-responsive">
            <h2 class="text-center mb-5">Orders</h2>
            <table class="table-striped ">
              <tr style="background-color: black; color:white">
                <th class="px-3">Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Project</th>
                <th>Area</th>
                <th>Time</th>
                <th>Action</th>
              </tr>
    
              <% for(let m of orders.reverse()) {%> 
                <tr>
                    <td class="px-3"><%= m.id %> </td>
                    <td><%= m.name%> </td>
                    <td><%= m.email %> </td>
                    <td> <a href="tel:<%= m.phone %>"><%= m.phone %></a> </td>
                    <td><%= m.project_name %> </td>
                    <td><%= m.area %> </td>
                    <td><%= moment(m.createdAt) %> </td>               
                    <td> 
                        <% if(m.respond == '1'){ %> 
                            <span class="font-italic mx-2">Responded</span>
                            <a  href="/admin/orders/delete?id=<%= m.id %>" onclick="return confirm('Are you sure to Delete?')" class="btn btn-sm btn-danger">Delete</a>   
                        <% }else{ %> 
                            <a href="/admin/orders/respond?id=<%= m.id %>" class="btn btn-sm btn-success">Respond</a>
                        <% } %> 
                       
                     </td>    
                        
                  </tr>
              <% }%> 
            </table>
        </div>
    <% } %> 
    
</div>

<%- include("../../partials/footer") %>